@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald:300,700,400);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);
*{
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
html{
  font-size: 18px;
  height: 100%;
}
body{
  /*background: url('http://itcelaya.edu.mx/images/cover-simple-portal.jpg') center no-repeat;*/
  color: #ffffff;
  position: relative;
  background-color: #ffffff;
  display: flex;
  font-size: 20px;
  margin-top: 20px;
  justify-content: center;
  font-family:  "Oswald", Arial, sans-serif;
}
.container{
  border-radius: 5px;
  background-color: #1B603C;
  box-shadow: 0 15px 24px 10px rgba(27, 96, 60, 0.9);
  display: block;
  max-width: 480px;
  overflow: hidden;
  padding: 1  5px;
}

form input.submit{
  background: rgba(255,255,255,0.25);
  border: 1px solid #333;
  line-height: 1em;
  padding: 0.5em 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form select{
  color: #000;
  font-size: 18px;
}
form button:hover,
form button:focus,
form button:active,
form button.loading{
  background: #333;
  color: #fff;
  outline: none;
}
form button.success{
  background: #27ae60;
  border-color: #27ae60;
  color: #fff;
}
@-webkit-keyframes spin{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}
@keyframes spin{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}
form button span.loading-spinner{
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  width: 1em;
}

form label{
  border-bottom: 1px solid #333;
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form label.col-one-half{
  float: left;
  width: 50%;
}
form label.col-one-half:nth-of-type(even){
  border-left: 1px solid #333;
  padding-left: 0.25em;
}
form label input{
  background: none;
  border: none;
  line-height: 1em;
  font-weight: 300;
  padding: 0.125em 0.25em;
  width: 100%;
}
form label input:focus{
  outline: none;
}
form label input:-webkit-autofill{
  background-color: transparent !important;
}
form label span.label-text{
  display: block;
  font-size: 0.5em;
  font-weight: bold;
  padding-left: 0.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form label.checkbox{
  border-bottom: 0;
  text-align: center;
}
form label.checkbox input{
  display: none;
}
form label.checkbox span{
  font-size: 0.5em;
}
form label.checkbox span:before{
  content: '\e157';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 1.125em;
  padding-right: 0.25em;
  position: relative;
    top: 1px;
}
form label.checkbox input:checked + span:before{content: '\e067';}
form label.invalid{border-color: #c0392b !important;}
form label.invalid span.label-text{color: #c0392b;}
form label.password{position: relative;}
form label.password button.toggle-visibility{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.75em;
  line-height: 1em;
  position: absolute;
    top: 50%;
    right: 0.5em;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
form label.password button.toggle-visibility:hover,
form label.password button.toggle-visibility:focus,
form label.password button.toggle-visibility:active{
  color: #000;
  outline: none;
}
form label.password button.toggle-visibility span{vertical-align: middle;}

h3,h4,h1{
  margin: 0 0 0.5em 0;
  text-align: center;
  font-family: 'Permanent Marker';
}

.iconos{
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
a{
  font-family: 'Oswald', cursive;
  color: #ffffff;
}
h1 img{
  height: auto;
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
}


.text-center{
  text-align: center;
}
hr{
  height: 15px;
}

#encabezado{
  background-color: #1B603C;
  padding-top: 10px;
}







/*###################################################*/
